* {
  padding: 50;
  margin: 50;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 85%;
}

/* h2 {
  padding: 50px 10px 10px;
}

#todo-form {
  padding: 10px 10px 10px;
}

#todo-list {
  padding: 0px 30px;
} */

.todo_checked {
  text-decoration: line-through;
}

.todo_list {
  list-style-type: none;
}

.todo_list_done {
  list-style-type: none;
}

li span {
  display: inline-block;
  overflow-wrap: break-word;
  border-radius: 5px;
}

li span:hover {
  background-color: white;
}

.todo_focusin {
  background-color: white;
}

.todo_focusout {
  background-color: none;
}
